<main  id="main" class="main">
    <% if (messages.error) { %>
        <div class="alert alert-danger" show-alert data-time="4000">
          <%= messages.error %>
          <span close-alert style="margin-left: 25px; cursor: pointer;">X</span>
        </div>
      <% } %>
    <div class="container">
        <h2><%=title%> </h2>
        <form action="<%= prefixAdmin %>/Shift/CreatShift"   method="post"  >
            <div class="form-group">
                <label for="MaC">Mã ca:</label>
                <input type="text" id="MaC" name="MaC" value="" required>
            </div>

            <div class="form-group">
                <label for="TenC">Tên ca:</label>
                <input type="text" id="TenC" name="TenC" value="" required>
            </div>
            <div class="form-group">
                <label for="TimeIn">Time in:</label>
                <input type="time" id="TimeIn" name="TimeIn" value="" required>
            </div>
            <div class="form-group">
                <label for="TimeOut">Time out:</label>
                <input type="time" id="TimeOut" name="TimeOut" value="" required>
            </div>

    

            <div class="actions "  >
                
                <button type="submit" class="btn">Creat</button>
                <a href="<%= prefixAdmin %>/Shift" class="btn btn-danger">Hủy</a>
            </div>
        </form>
    </div>
  
    
</main>