 <!-- Basic Modal -->
    <div class="modal fade" id="modal<%= staffItem.MaP %>" tabindex="-1" style="width: 500px;height: 680px; ">
        <div class="modal-dialog" style="margin: 0px;">
          <div class="modal-content">
            <div class="modal-body">
            <div >
              <h2>Tạo Tài Khoản</h2>
              <form action="<%= prefixAdmin %>/Account/CreatAccount/<%= staffItem.MaP %>" method="post" enctype="multipart/form-data">

                    <div class="form-group">
                        <label for="manv">Mã NV:</label>
                        <input type="text" id="manv" name="MANV" value="" required>
                    </div>
        
                    <div class="form-group">
                        <label for="name">Tên:</label>
                        <input type="text" id="name" name="Name" value="" required>
                    </div>
        
                    <div class="form-group">
                        <label for="office">Chúc VỤ:</label>
                        <input type="text" id="office" name="office" value="" required>
                    </div>
                    <div class="form-group " upload-image>
                        <label for="image">Ảnh:</label>
                        <input type="file" id="image" name="image" accept="image/*" upload-image-input class="form-control-file"  required>
                      
                            <img upload-image-preview style=" margin-top:10px;" width="200" >
                         
                    </div>
        
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="email" id="username" name="Username" value="" required>
                    </div>
        
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" value="" required>
                    </div>
        
                    <div class="actions "  >
                      
                        <input type="hidden" name="_method" value="post">
                        <button type="submit" class="btn">Creat</button>
                        <a   data-bs-dismiss="modal" class="btn btn-danger">Hủy</a>
                    </div>
                </form>
            </div>
            </div>
            
          </div>
        </div>
      </div><!-- End Basic Modal-->