<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item">
        <a class="nav-link collapsed" name="Home"  href="<%= prefixManager %>/Account">
          <i class="bi bi-grid"></i>
          <span>Account</span>
        </a>
      </li><!-- End Profile Page Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed"  name="BC" href="<%= prefixManager %>/timekeeping">
          <i class="bi bi-bar-chart"></i>
          <span>Quản Chấm Công</span>
        </a>
      </li>
    </ul>
  </aside>
  